.home-container {
    padding: 3rem;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
}

.btn button {
    font-size: 18px;
    padding: 1.5rem;
    background-color: cornsilk;
    border-radius: 24px;
    border-width: 1px;
    cursor: pointer;
    border: none;
}

.btn button:hover {
    scale: 0.95;
    transition: ease-in-out 0.3s;
}

.data-table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    line-height: 2rem;
    width: 70%;
    border: solid 2px white;
}

th {
    padding: 0.5rem;
    border: solid 2px white;
    background-color: blanchedalmond;
}

td {
    border: solid 2px white;
    padding: 0.5rem;
    background-color: lightcyan;
    text-align: center;
}

td a {
    align-items: center;
    background-color: brown;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50px;
    height: 20px;
    font-size: 10px;
    border-radius: 8px;
}

td a:hover {
    background-color: white;
    transition: ease-in-out 0.5s;
    color: brown;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.form input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.2rem;
    border-radius: 8px;
    border: none;
}

.btn-save button{
    padding: 0.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-save button:hover {
    scale: 0.98;
    background-color: green;
    transition: ease-in-out 0.5s;
}
